.App {
  text-align: center;
  margin-top: 100px;
}

.board {
  display: grid;
  gap: 1px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #ccc;
  border: 1px solid #333;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #fff;
}

.cell.active {
  background-color: #f00;
}

input {
  margin-left: 5px;
}

button {
  margin-top: 10px;
}